<node index="0"><!-- root -->
    <mod>text</mod>
    <value><![CDATA[查询菜单(输入相应数字以继续):
1.校园专区
2.校车班次
3.图书馆空位\天气\翻译\空教室
4.常用校内电话\网站
5.更新图书馆空位信息
6.投票/报名通道
7.显示功能介绍
8.给我们留言]]></value>
    <children>
		<node index="0"><!--hidden nodes-->
			<mod>text</mod>
			<value><![CDATA[这里是..?说不定是bug呢]]></value>
			<children>
				<node index="1"><!--信息预告-->
					<mod>text</mod>
					<value><![CDATA[目前尚未有信息预告]]></value>
				</node>
				
				<node index="2"><!--考务教务-->
					<mod>text</mod>
					<value><![CDATA[目前尚未有信息发布]]></value>
				</node>
				
				<node index="3"><!--华理热点-->
					<mod>news</mod>
					<value>
						<article>
							<title><![CDATA[我校入围“世界大学学术排名”500强]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url><![CDATA[http://mmbiz.qpic.cn/mmbiz/iavLhlvhwTsEp9UFzQ6AWlbBHHrhKl6ykfib5TAg61RXmc4NTmU0iaylet1L1FflibdM6eg7RvEItGdqy3wOPEwiaUQ/0]]></pic_url>
							<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200917448&idx=1&sn=96d68e0dd0ab1359b060167fd8818465#rd]]></url>
						</article>
						<article>
							<title><![CDATA[延时摄影：华理印象]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200917448&idx=2&sn=de05e0731d3ec69fd7a2272b9be34da6#rd]]></url>
						</article>
						<article>
							<title><![CDATA[新闻联播报道：华理的“驱动创新”]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200917448&idx=3&sn=5bb6774353bc78ec6aa729c6c9f7ffab#rd]]></url>
						</article>
					</value>
				</node>
				
				<node index="4"><!--新生资讯-->
					<mod>news</mod>
					<value>
						<article>
							<title><![CDATA[新生常见问题Q&A——生活篇]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url><![CDATA[http://mmbiz.qpic.cn/mmbiz/iavLhlvhwTsHptyPIRUAdwaUqDCX6bLd2W1lvrMPT36jxNj3JiccPHeozncKO6vP1x5YSxOv7IA3gmx3GsgWCm6A/0]]></pic_url>
							<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200920118&idx=1&sn=966b21a6f7e36ab5740a870f48aa76bf#rd]]></url>
						</article>
						<article>
							<title><![CDATA[新生常见问题Q&A——学习篇]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200920118&idx=2&sn=ee944870092cbb50fb04ed72ffb5790e#rd]]></url>
						</article>
						<article>
							<title><![CDATA[新生常见问题Q&A——交通篇]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200920118&idx=3&sn=f3ee181da3bcc0115511dd153d7d401d#rd]]></url>
						</article>
						<article>
							<title><![CDATA[新生常见问题Q&A——军训篇]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200920118&idx=4&sn=bf5f00fcfc8fbdd01f2a19f274537f53#rd]]></url>
						</article>
					</value>
				</node>
				
				<node index="5"><!--微社区-->
					<mod>text</mod>
					<value><![CDATA[点击链接进入微社区
http://m.wsq.qq.com/262050237]]></value>
				</node>
				
				<node index="6"><!--图书馆-->
					<mod>news</mod>
					<value>
						<article>
							<title><![CDATA[图书馆开放时间]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url><![CDATA[http://mmbiz.qpic.cn/mmbiz/iavLhlvhwTsHqQibkClznvibcYOWmyDORZ0nyRdXxbxSv8Eic8ibS9A6EyMsmMlbfP8ib9vaYPbC0vic718WvsxElIOJg/0]]></pic_url>
							<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200846840&idx=1&sn=246e9a4b63873dcc3739a304ddab1405#rd]]></url>
						</article>
						<article>
							<title><![CDATA[书目查询]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://202.120.96.42:8081/webpac/]]></url>
						</article>
						<article>
							<title><![CDATA[徐汇图书馆空座查询]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://lib.ecust.edu.cn:8081/Webgate/GateXH.aspx]]></url>
						</article>
						<article>
							<title><![CDATA[奉贤图书馆空座查询]]></title>
							<description><![CDATA[点击查看详细内容]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://lib.ecust.edu.cn:8081/gateseat/lrp.aspx]]></url>
						</article>
					</value>
				</node>
			</children>
		</node>
	
		<node index="1"><!--1-->
			<mod>text</mod>
			<value><![CDATA[欢迎来到华理！小花梨是一个华理学生自己的信息服务平台，你可以从这上面看到许多华理的实时信息。看看你有什么需要的吧:(输入相应数字以继续)
11.【校园生活信息】
12.【建筑相关信息】
13.【校园地图】
14.【校级学生组织信息】
15.【社团信息】
16.【教室借用及活动审批流程】
17.【失物寻回方式一览】
18.【常用校内电话/网站】
19.【本学期校历】]]></value>
			<children>
				<node index="1"><!--11-->
					<mod>text</mod>
					<value><![CDATA[您想查看哪方面的校园生活信息呢？:(输入相应数字以继续)
111.学生公寓
112.食堂
113.商业街
114.学习]]></value>
					<children>
						<node index="1"><!--111-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[学生公寓信息]]></title>
									<description><![CDATA[附：公共浴室信息]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/2.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000093&itemidx=1&sign=f0cc65eacbdc16e2f07f9c1f6213682e#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="2"><!--112-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[食堂信息]]></title>
									<description><![CDATA[你不知道的食堂文化]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/2.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000093&itemidx=1&sign=f0cc65eacbdc16e2f07f9c1f6213682e#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="3"><!--113-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[商业街信息]]></title>
									<description><![CDATA[商业街信息]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/2.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000097&itemidx=1&sign=1c7ffcb5063c8563745cdc517729ba2e#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="4"><!--114-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[学习信息]]></title>
									<description><![CDATA[跟学习有关的一些信息]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/2.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000166&itemidx=1&sign=b6795134ecaf5bef81c594e422c9887c#wechat_redirect]]></url>
								</article>
							</value>
						</node>
					</children>
				</node>
				
				<node index="2"><!--12-->
					<mod>text</mod>
					<value><![CDATA[您想查看哪些建筑的相关信息呢？:(输入相应数字以继续)
121.主教学楼
122.信息楼
123.大学生活动中心
124.图书馆
125.实验楼
126.校医院]]></value>
					<children>
						<node index="1"><!--121-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[主教学楼简介]]></title>
									<description><![CDATA[主教学楼的相关介绍]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/jian.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000099&itemidx=1&sign=550e4043ab87e91f67dc7bf3c7be321e#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="2"><!--122-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[信息楼简介]]></title>
									<description><![CDATA[信息楼简介]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/jian.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000099&itemidx=1&sign=550e4043ab87e91f67dc7bf3c7be321e#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="3"><!--123-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[大学生活动中心简介]]></title>
									<description><![CDATA[大学生活动中心简介]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/jian.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000107&itemidx=1&sign=8b7746eef34935839f13ab42e92c4409#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="4"><!--124-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[图书馆简介]]></title>
									<description><![CDATA[图书馆中心简介]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/jian.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000109&itemidx=1&sign=e0cc865dfe1674ded7259a453cd9efef#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="5"><!--125-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[实验楼简介]]></title>
									<description><![CDATA[实验楼简介]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/jian.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000111&itemidx=1&sign=b79a4711519a153425a19c18a8a55576#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="6"><!--126-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[校医院简介]]></title>
									<description><![CDATA[值班时间  住院须知]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/jian.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000179&itemidx=1&sign=39818e7cb246dd3221b5883c32cc2caf#wechat_redirect]]></url>
								</article>
							</value>
						</node>
					</children>
				</node>
				
				<node index="3"><!--13-->
					<mod>news</mod>
					<value>
						<article>
							<title><![CDATA[奉贤校区地图]]></title>
							<description><![CDATA[点击“查看全文”获得全新华理电子版地图]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://xiaoban.ecust.edu.cn/picture/article/5/ec/cd/c8bb514b45509ddd441e926e77f8/2969f7db-e6de-461d-9fc6-9e6b307b8d96.jpg]]></url>
						</article>
						<article>
							<title><![CDATA[徐汇校区地图]]></title>
							<description><![CDATA[点击“查看全文”获得全新华理电子版地图]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://xiaoban.ecust.edu.cn/picture/article/5/ec/cd/c8bb514b45509ddd441e926e77f8/e5966dd0-cba6-4ada-8bf7-edaa2d8f1bc5.jpg]]></url>
						</article>
						<article>
							<title><![CDATA[金山科技园地图]]></title>
							<description><![CDATA[点击“查看全文”获得全新华理电子版地图]]></description>
							<pic_url></pic_url>
							<url><![CDATA[http://xiaoban.ecust.edu.cn/picture/article/5/ec/cd/c8bb514b45509ddd441e926e77f8/90f4aecb-f896-4a29-8b7b-0552483d8158.jpg]]></url>
						</article>
					</value>
				</node>
				
				<node index="4"><!--14-->
					<mod>text</mod>
					<value><![CDATA[我们学校有许多学生组织，你想了解哪个呢？:(输入相应数字以继续)
141.【“青春华理”媒体中心】
142.【学生会】
143.【学代会常委会】
144.【社团联合会】
145.【青年志愿者协会】]]></value>
					<children>
						<node index="1"><!--141-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA["青春华理"媒体中心]]></title>
									<description><![CDATA["青春华理"媒体中心]]></description>
									<pic_url><![CDATA[http://mmbiz.qpic.cn/mmbiz/iavLhlvhwTsGn5OZX1tdeUPpC9kcfnkI3h8xSu3MWV6wMf9dc94D0Jlu1iaGlyWK40U1s2uqic29xUoXO2D32HoHA/0]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200810428&idx=1&sn=dc2cf84361383eecee0a250b43862787#rd]]></url>
								</article>
								<article>
									<title><![CDATA[策划部]]></title>
									<description><![CDATA[青春华理”媒体中心]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200810428&idx=2&sn=961d2c9687ac152d70f100bd4d97804c#rd]]></url>
								</article>
								<article>
									<title><![CDATA[新媒体部]]></title>
									<description><![CDATA[青春华理”媒体中心]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200810428&idx=3&sn=cc7944e360b85670e50ffea2a1c939b3#rd]]></url>
								</article>
								<article>
									<title><![CDATA[网络媒体部]]></title>
									<description><![CDATA[青春华理”媒体中心]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200810428&idx=4&sn=e9cdf9e37c977c5ad36b6bce1d25570e#rd]]></url>
								</article>
								<article>
									<title><![CDATA[调研部]]></title>
									<description><![CDATA[青春华理”媒体中心]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200810428&idx=5&sn=7757ffab7fb1c7fcc7af7b5fd42b46ba#rd]]></url>
								</article>
								<article>
									<title><![CDATA[记者团]]></title>
									<description><![CDATA[青春华理”媒体中心]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200810428&idx=6&sn=0c20234e836777adde14c5c31def77e8#rd]]></url>
								</article>
								<article>
									<title><![CDATA[《华东理工青年》编辑部]]></title>
									<description><![CDATA[青春华理”媒体中心]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200810428&idx=7&sn=77b1b4830ec4189eeef1b44993b4a913#rd]]></url>
								</article>
							</value>
						</node>
						
						<node index="2"><!--142-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[学生会]]></title>
									<description><![CDATA[学生会]]></description>
									<pic_url><![CDATA[http://mmbiz.qpic.cn/mmbiz/iavLhlvhwTsEQz9ycTIKmQLR9pNreDA4eYTXxyPIt3JLxKCVn9DFEFVJzvwA5Hz6zNic01OmNSlUphoIhxLgD3JQ/0]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200786452&idx=1&sn=95d1978ca25d08a1fac2e99e91d80b0a#rd]]></url>
								</article>
								<article>
									<title><![CDATA[办公室]]></title>
									<description><![CDATA[学生会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200786452&idx=2&sn=7c4e84362be05fdab3099db2d84f84f7#rd]]></url>
								</article>
								<article>
									<title><![CDATA[公关中心]]></title>
									<description><![CDATA[学生会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200786452&idx=3&sn=f28a81bfa91391c28d6b4eecf578f071#rd]]></url>
								</article>
								<article>
									<title><![CDATA[科创中心]]></title>
									<description><![CDATA[学生会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200786452&idx=4&sn=be272f10be9b3449b4065bffaa4c810b#rd]]></url>
								</article>
								<article>
									<title><![CDATA[实践中心]]></title>
									<description><![CDATA[学生会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200786452&idx=5&sn=f63fea24a5b9bfd4055167798a2d91ff#rd]]></url>
								</article>
								<article>
									<title><![CDATA[体育中心]]></title>
									<description><![CDATA[学生会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200786452&idx=6&sn=d8b9a4d6ece921843fa0614c01906c20#rd]]></url>
								</article>
								<article>
									<title><![CDATA[文艺中心]]></title>
									<description><![CDATA[学生会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200786452&idx=7&sn=78028e4a187fab0394e20e6cd9b9b293#rd]]></url>
								</article>
								<article>
									<title><![CDATA[信传中心]]></title>
									<description><![CDATA[学生会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200786452&idx=8&sn=a1399b8d0ebd14e076b914d7a6669731#rd]]></url>
								</article>
							</value>
						</node>
						
						<node index="3"><!--143-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[学代会常委会]]></title>
									<description><![CDATA[学代会常委会]]></description>
									<pic_url><![CDATA[http://mmbiz.qpic.cn/mmbiz/iavLhlvhwTsGDmTXs4Me9LlBId7VibXtxWTOC3J9HZfwtTI6LO6qoicO3dn0k3Czmufe1RgHKSrvE2d7sznyAib7Xw/0]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200763161&idx=1&sn=bf64a12f74c0b541be00517343509262#rd]]></url>
								</article>
								<article>
									<title><![CDATA[办公室]]></title>
									<description><![CDATA[学代会常委会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200763161&idx=2&sn=fb88baee3ab83dbdfde12efff18ff9b2#rd]]></url>
								</article>
								<article>
									<title><![CDATA[绩效评定委员会]]></title>
									<description><![CDATA[学代会常委会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200763161&idx=3&sn=20122024fda23ae1c51eefdc91964b84#rd]]></url>
								</article>
								<article>
									<title><![CDATA[专题实践委员会]]></title>
									<description><![CDATA[学代会常委会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200763161&idx=4&sn=0428663d46ed87e42d0ceb57e36e1c6e#rd]]></url>
								</article>
								<article>
									<title><![CDATA[学生自治管理委员会]]></title>
									<description><![CDATA[学代会常委会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200763161&idx=5&sn=5096ef432a1d30ed8abd7bd7898697f0#rd]]></url>
								</article>
							</value>
								
						</node>
						
						<node index="4"><!--144-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[社团联合会]]></title>
									<description><![CDATA[社团联合会]]></description>
									<pic_url><![CDATA[http://mmbiz.qpic.cn/mmbiz/iavLhlvhwTsFjvP3EN1UnQCEOGiaq2WVkGqicaJDkjcBQZUCX9FJc4nIibOibzAhibQeicQYEUR1axwsdUWkP3p6KKia6A/0]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200762151&idx=1&sn=f8a25f4125867cf9aa85f5a79e508b70#rd]]></url>
								</article>
								<article>
									<title><![CDATA[办公室]]></title>
									<description><![CDATA[社团联合会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200762151&idx=2&sn=4a91ba62a2c2e2f679963cf22e0bb65e#rd]]></url>
								</article>
								<article>
									<title><![CDATA[财务管理中心]]></title>
									<description><![CDATA[社团联合会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200762151&idx=3&sn=a52627da6c13d41cab2c61fea88d25df#rd]]></url>
								</article>
								<article>
									<title><![CDATA[人力资源中心]]></title>
									<description><![CDATA[社团联合会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200762151&idx=4&sn=852a41ece90025867108fe046b68bde7#rd]]></url>
								</article>
								<article>
									<title><![CDATA[对外联络中心]]></title>
									<description><![CDATA[社团联合会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200762151&idx=5&sn=a646e501a7dd69e4df2c15f5a992a1ff#rd]]></url>
								</article>
								<article>
									<title><![CDATA[信息宣传中心]]></title>
									<description><![CDATA[社团联合会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200762151&idx=6&sn=b02b32e4899135099cd6aeb62c1b4c5e#rd]]></url>
								</article>
							</value>
								
						</node>
						
						<node index="5"><!--145-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[青年志愿者协会]]></title>
									<description><![CDATA[青年志愿者协会]]></description>
									<pic_url><![CDATA[http://mmbiz.qpic.cn/mmbiz/iavLhlvhwTsFjvP3EN1UnQCEOGiaq2WVkG3MT6XCEluOhGvylQkvBGz4QwJ4MMU1jFCIwZc4vZGNf9b1PWUs6hyw/0]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200761788&idx=1&sn=a923042ed7dcf86c50f962eec08b1bc1#rd]]></url>
								</article>
								<article>
									<title><![CDATA[办公室]]></title>
									<description><![CDATA[青年志愿者协会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200761788&idx=2&sn=98c5033e158141c187a692fb5c431214#rd]]></url>
								</article>
								<article>
									<title><![CDATA[活动企划中心]]></title>
									<description><![CDATA[青年志愿者协会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200761788&idx=3&sn=124ff3d2c4c33168ad8e390861980ba3#rd]]></url>
								</article>
								<article>
									<title><![CDATA[网络媒体中心]]></title>
									<description><![CDATA[青年志愿者协会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200761788&idx=4&sn=151461d4d66143e067cab871755f4485#rd]]></url>
								</article>
								<article>
									<title><![CDATA[项目运营中心]]></title>
									<description><![CDATA[青年志愿者协会]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200761788&idx=5&sn=61b4b7a0cd228fed3150d31beba70d71#rd]]></url>
								</article>
							</value>
								
						</node>
						
					</children>
				</node>
				
				<node index="5"><!--15-->
					<mod>text</mod>
					<value><![CDATA[社团信息：(输入相应数字以继续)
151.【SO DANCE街舞社】	
152.【微笑益GO】
153.【MBA商务管理协会】
154.【计算机信息交流协会CIC】
155.【清风飞扬】
156.【花艺协会】
157.【纵横协会】
158.【华理吉他社】
159.【Ibounce极限社】
1510.【华理正能量社】
1511.【模拟联合国协会】]]></value>
					<children>
						<node index="1"><!--151-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[SO DANCE街舞社简介]]></title>
									<description><![CDATA[SO DANCE街舞社简介]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200867823&idx=1&sn=ea10464245d29b16937244d48508437d#rd]]></url>
								</article>
							</value>
							<children>
								<node index="0"><!--1510-->
									<mod>news</mod>
									<value>
										<article>
											<title><![CDATA[华理正能量社简介]]></title>
											<description><![CDATA[华理正能量社简介]]></description>
											<pic_url></pic_url>
											<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200870317&idx=1&sn=b38846542d45962ca303c26b74415b63#rd]]></url>
										</article>
									</value>
								</node>
								
								<node index="1"><!--1511-->
									<mod>news</mod>
									<value>
										<article>
											<title><![CDATA[模拟联合国协会简介]]></title>
											<description><![CDATA[模拟联合国协会简介]]></description>
											<pic_url></pic_url>
											<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200870357&idx=1&sn=2ba4c00428ccac201503e394cabbc1c4#rd]]></url>
										</article>
									</value>
								</node>
							</children>
						</node>
						
						<node index="2"><!--152-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[微笑益GO简介简介]]></title>
									<description><![CDATA[微笑益GO简介简介]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200867411&idx=1&sn=68c168d3d616034386db5f03dc380dc8#rd]]></url>
								</article>
							</value>
						</node>
						
						<node index="3"><!--153-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[MBA商务管理协会简介]]></title>
									<description><![CDATA[MBA商务管理协会简介]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200867440&idx=1&sn=31b48db6f7686d701f61c6a900917b3c#rd]]></url>
								</article>
							</value>
						</node>
						
						<node index="4"><!--154-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[计算机信息交流协会CIC简介]]></title>
									<description><![CDATA[计算机信息交流协会CIC简介]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200870378&idx=1&sn=c6de695539f71709ae54edb9ea67e058#rd]]></url>
								</article>
							</value>
						</node>
						
						<node index="5"><!--155-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[清风飞扬简介]]></title>
									<description><![CDATA[清风飞扬简介]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200867483&idx=1&sn=5042bb466f4dd4685cab727b03e960c0#rd]]></url>
								</article>
							</value>
						</node>
						
						<node index="6"><!--156-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[花艺协会简介]]></title>
									<description><![CDATA[花艺协会简介]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200867855&idx=1&sn=0a23b08c9448a55b8ff1014e9776cc9a#rd]]></url>
								</article>
							</value>
						</node>
						
						<node index="7"><!--157-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[纵横协会简介]]></title>
									<description><![CDATA[纵横协会简介]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200870338&idx=1&sn=78c4a47884622ffbfa491444ed2231d7#rd]]></url>
								</article>
							</value>
						</node>
						
						<node index="8"><!--158-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[华理吉他社简介]]></title>
									<description><![CDATA[华理吉他社简介]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200867903&idx=1&sn=7e83d4130ff94cd361e3234ec2e15bf9#rd]]></url>
								</article>
							</value>
						</node>
						
						<node index="9"><!--159-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[Ibounce极限社简介]]></title>
									<description><![CDATA[Ibounce极限社简介]]></description>
									<pic_url></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200867347&idx=1&sn=9bc6995f3ab6f90ded7dce7d90bc13f2#rd]]></url>
								</article>
							</value>
						</node>
						
					</children>
				</node>
				
				<node index="6"><!--16-->
					<mod>text</mod>
					<value><![CDATA[161：七彩亭介绍
162：活动摆摊流程
163：教室借用流程
164：宣传品张贴悬挂审批流程
165：宿舍楼宣传栏传单张贴规则]]></value>
					<children>
						<node index="1"><!--161-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[七彩亭介绍]]></title>
									<description><![CDATA[七彩亭介绍]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/qicai.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000263&itemidx=1&sign=d3c0f540e49e259a4bcb4adc46210431#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="2"><!--162-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[活动摆摊流程]]></title>
									<description><![CDATA[活动摆摊流程]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/btcd.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000261&itemidx=1&sign=a3cd0a510363c7b90f789356e883fbda#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="3"><!--163-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[教室借用流程]]></title>
									<description><![CDATA[教室借用流程]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/jsjy.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000265&itemidx=1&sign=fcb6383fc556e7c88eb7fb28de46bbbd#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="4"><!--164-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[宣传品张贴悬挂审批流程]]></title>
									<description><![CDATA[宣传品张贴悬挂审批流程]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/txzz.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000258&itemidx=1&sign=cf1dd9ad64adb8022005abad2770fa83#wechat_redirect]]></url>
								</article>
							</value>
						</node>
						
						<node index="4"><!--164-->
							<mod>news</mod>
							<value>
								<article>
									<title><![CDATA[宿舍楼宣传栏传单张贴规则]]></title>
									<description><![CDATA[宿舍楼宣传栏传单张贴规则]]></description>
									<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/sslx.jpg]]></pic_url>
									<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000267&itemidx=1&sign=4423a4516335f28ffe6802a0cb21b05d#wechat_redirect]]></url>
								</article>
							</value>
						</node>
					</children>
				</node>
				
				<node index="7"><!--17-->
					<mod>news</mod>
					<value>
						<article>
							<title><![CDATA[失物寻回方式一览]]></title>
							<description><![CDATA[失物寻回方式一览]]></description>
							<pic_url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/shiwu.jpg]]></pic_url>
							<url><![CDATA[http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODcwMDgyMQ==&appmsgid=10000269&itemidx=1&sign=c9a11a6482a54b1e2eff00ee024b4ab6#wechat_redirect]]></url>
						</article>
					</value>
				</node>
				
				<node index="8"><!--18-->
					<mod>text</mod>
					<value><![CDATA[您要查询电话还是网站？:(输入相应数字以继续)
41.电话
42.网站]]></value>
				</node>
				
				<node index="9"><!--19-->
					<mod>news</mod>
					<value>
						<article>
							<title><![CDATA[校历]]></title>
							<description><![CDATA[2014年下半年校历]]></description>
							<pic_url><![CDATA[]]></pic_url>
							<url><![CDATA[http://syl8501632191.gotoip4.com/wx/rp/xiaoli.jpg]]></url>
						</article>
					</value>
				</node>
			</children>
		</node>
		
		<node index="2"><!--2  校车班次-->
			<mod>news</mod>
			<value>
				<article>
					<title><![CDATA[常规学生班车班次]]></title>
					<description><![CDATA[点击查看详细内容]]></description>
					<pic_url><![CDATA[http://mmbiz.qpic.cn/mmbiz/iavLhlvhwTsF9QENGZicSBCoPuMSBI0mSzyCfwyE4XArCzFZarS2Ic2cIcJAB1NdcNY5eDlwlxjDvr6dA5voFic2g/0]]></pic_url>
					<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200824818&idx=1&sn=309ac20b9210b2389a6141e62441f6ce#rd]]></url>
				</article>
				<article>
					<title><![CDATA[常规教职工班车班次]]></title>
					<description><![CDATA[点击查看详细内容]]></description>
					<pic_url></pic_url>
					<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200824818&idx=2&sn=7d0606f9dc28b2141f6cef880ed6a541#rd]]></url>
				</article>
				<article>
					<title><![CDATA[2014中秋节期间学生班车班次]]></title>
					<description><![CDATA[点击查看详细内容]]></description>
					<pic_url></pic_url>
					<url><![CDATA[http://mp.weixin.qq.com/s?__biz=MjM5ODcwMDgyMQ==&mid=200824818&idx=3&sn=47c085bc29705d5583ed6758c61e3ca5#rd]]></url>
				</article>
			</value>
		</node>
		
		<node index="3"><!--3-->
			<mod>text</mod>
			<value><![CDATA[您要查询什么信息呢？:(输入相应数字以继续)
31.图书馆
32.天气
33.翻译
34.教室]]></value>
			<children>
				<node index="1"><!--31-->
					<mod>func</mod>
					<value>
						<class_name>Library</class_name>
					</value>
				</node>
				
				<node index="2"><!--32-->
					<mod>list</mod>
					<value>
						<list_name>Weather</list_name>
						<step_num>1</step_num>
						<step1 is_const="false"><![CDATA[weatherDefault()."\n\n如需查询其他城市天气,请输入您想查询的城市名"]]></step1>
					</value>
				</node>
				
				<node index="3"><!--33-->
					<mod>list</mod>
					<value>
						<list_name>Translate</list_name>
						<step_num>1</step_num>
						<step1>请输入您要翻译的内容</step1>
					</value>
				</node>
				
				<node index="4"><!--34-->
					<mod>text</mod>
					<value><![CDATA[亲爱的用户，您好，由于系统维护，该功能暂时下线，对于给您带来的不便我们深表歉意。本功能再次上线的时间将另行通知。感谢您一直以来对小花梨的支持。]]></value>
				</node>
			</children>
		</node>
		
		<node index="4"><!--4-->
			<mod>text</mod>
			<value><![CDATA[您要查询电话还是网站？:(输入相应数字以继续)
41.电话
42.网站]]></value>
			<children>
				<node index="1"><!--41-->
					<mod>text</mod>
					<value><![CDATA[您要查询什么类型的电话呢？:(输入相应数字以继续)
411:选课及考务电话。
412:教务相关各类电话。
413:生活后勤类电话。]]></value>
					<children>
						<node index="1"><!--411-->
							<mod>func</mod>
							<value>
								<class_name>Telephone</class_name>
								<args>1</args>
							</value>
						</node>
						
						<node index="2"><!--412-->
							<mod>func</mod>
							<value>
								<class_name>Telephone</class_name>
								<args>2</args>
							</value>
						</node>
						
						<node index="3"><!--411-->
							<mod>func</mod>
							<value>
								<class_name>Telephone</class_name>
								<args>3</args>
							</value>
						</node>
					</children>
				</node>
				
				<node index="2"><!--42-->
					<mod>text</mod>
					<value><![CDATA[您要查询哪一类的网站呢？:(输入相应数字以继续)
421.教务类
422.体育类
423.学习类]]></value>
					<children>
						<node index="1"><!--421-->
							<mod>text</mod>
							<value><![CDATA[教务处
http://jwc.ecust.edu.cn
公共查询(课程表及考试表)
http://202.120.108.14/ecustedu/K_StudentQuery/K_Default.aspx
学生选课平台
http://202.120.108.14/ecustedu/StudentDefault.aspx
短学期选课平台
http://202.120.108.14/EcustEdu3thTerm/StudentDefault.aspx
短学期、创新学分查询
http://202.120.108.10/dxq/index.php 
学生评教系统
http://202.120.108.13/pingce/]]></value>
						</node>
						
						<node index="2"><!--422-->
							<mod>text</mod>
							<value><![CDATA[体育选课
http://59.78.92.38:82/index.html
查询早锻炼
http://59.78.92.38:8888/sportscore/]]></value>
						</node>
						
						<node index="3"><!--423-->
							<mod>text</mod>
							<value><![CDATA[课程中心
http://e-learning.ecust.edu.cn/Able.Acc2.Web/default.aspx
计算机教学实验中心
http://jszx.ecust.edu.cn/
高数（大学数学网）
http://202.120.103.156/index1.htm
化工原理
http://e-learning.ecust.edu.cn/Able.Acc2.Web/Template/View.aspx?action=view&courseId=26714&courseType=0
文献检索
http://e-learning.ecust.edu.cn/Able.Acc2.Web/Template/View.aspx?action=view&courseId=26862&courseType=0
现基化
http://e-learning.ecust.edu.cn/Able.Acc2.Web/Template/View.aspx?action=view&courseId=26996&courseType=0
大物实验
http://e-learning.ecust.edu.cn/Able.ACC2.Web/Template/View.aspx?courseType=0&courseId=26940&topMenuId=73798&menuType=4&action=view&type=&name=
分析化学
http://e-learning.ecust.edu.cn/Able.ACC2.Web/Template/View.aspx?courseType=0&courseId=26926&topMenuId=73574&menuType=4&action=view&type=&name=
线性代数：http://e-learning.ecust.edu.cn/Able.ACC2.Web/Template/View.aspx?courseType=0&courseId=26930&topMenuId=73638&menuType=4&action=view&type=&name=
有机化学：
http://e-learning.ecust.edu.cn/Able.ACC2.Web/Template/View.aspx?action=view&courseType=0&courseId=26721&ZZWLOOKINGFOR=G
大学物理：
http://e-learning.ecust.edu.cn/Able.ACC2.Web/Template/View.aspx?action=view&courseType=0&courseId=26910&ZZWLOOKINGFOR=G
毛概：
http://e-learning.ecust.edu.cn/Able.ACC2.Web/Template/View.aspx?action=view&courseType=0&courseId=26826&ZZWLOOKINGFOR=G]]></value>
						</node>
					</children>
				</node>
			</children>
		</node>
		
		<node index="5"><!--5-->
			<mod>func</mod>
			<value>
				<class_name>Clear</class_name>
			</value>
		</node>
		
		<node index="6"><!--6-->
			<mod>text</mod>
			<value><![CDATA[61.校团学组织招新系统]]></value>
			<children>
				<node index="1"><!-- 61 -->
					<mod>text</mod>
					<value><![CDATA[校团学组织招新系统(建议电脑登陆)
http://bbs.ecust.edu.cn/page/zhaoxin]]></value>
				</node>
			</children>
		</node>
		
		<node index="7"><!--7-->
			<mod>text</mod>
			<value><![CDATA[小花梨是一个由华理学生自主运营的校园信息分享平台，请回复相应数字以获得功能介绍:
71:校园专区
72:校车班次
73:图书馆/天气/翻译/空教室
74:常用电话/网址
75:更新
76:留言]]></value>
			<children>
				<node index="1"><!--71-->
					<mod>func</mod>
					<value>
						<class_name>Help</class_name>
						<args>校园专区</args>
					</value>
				</node>
				
				<node index="2"><!--72-->
					<mod>func</mod>
					<value>
						<class_name>Help</class_name>
						<args>校车班次</args>
					</value>
				</node>
				
				<node index="3"><!--73-->
					<mod>func</mod>
					<value>
						<class_name>Help</class_name>
						<args>图书馆1</args>
					</value>
				</node>
				
				<node index="4"><!--74-->
					<mod>func</mod>
					<value>
						<class_name>Help</class_name>
						<args>电话</args>
					</value>
				</node>
				
				<node index="5"><!--75-->
					<mod>func</mod>
					<value>
						<class_name>Help</class_name>
						<args>更新</args>
					</value>
				</node>
				
				<node index="6"><!--76-->
					<mod>func</mod>
					<value>
						<class_name>Help</class_name>
						<args>留言</args>
					</value>
				</node>
			</children>
		</node>
		
		<node index="8"><!--8-->
			<mod>list</mod>
			<value>
				<list_name>Advice</list_name>
				<step_num>1</step_num>
				<step1><![CDATA[Hi,试试看给我们留言吧.请直接回复你的留言.]]></step1>
			</value>
		</node>

	</children>
</node>